* {
  box-sizing: border-box;
  color: #77777;
  font-family: "Georgia", Times, 'Times New Roman', serif;
}

html {
	width: 100%;
}

body {
	margin: 0 auto;
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/pw_pattern_%402X.png");
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

header {

	background: #ffffff;
	align:left;
	font-size: 15px;
	width: 100%;
	float:left;
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#cccccc;
    font-family: "Georgia", Times, 'Times New Roman', serif; 
}
}

.middle {
	width: 650px;
	float:left;
}

.pagelinks {
	padding: 0px;
	margin-top: 30px;
	float:right;
	width:33%;
	font-size: 10pt;
	color:#777777;
}

a { 
	text-decoration: none;
	color:#777777;
 }

 a:hover {
 	color:#4aaaa5;
 }

.main-bio {
	background: #ffffff;
	padding: 20px;
	float:left;
	margin-top: 25px;
	margin-left: 112px;
	margin-bottom:25px;
	width: 45%;
	border-style: solid;
    border-width: 1px;
    border-color:#cccccc; 
    position: relative;

}

h1 {
	background: #4aaaa5;
	padding: 20px;
	padding-top: 20px;
	margin-left: 112px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffffff;
	align:left;
	font-size: 20px;
	text-align: center;
	height: 65px;
	float:left;
}

.aboutme {	
	margin-bottom: 20px;
	margin-left: 0px;
	color: #4aaaa5;
	width:100%;
	float: left;
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#cccccc;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    font-size: 18pt; 
}

.profilepic {
    width: 150px;
    height: auto;
    align-self: left;
    float:left;
    padding-right: 15px;
}

p {
	font-size: 10pt;
	line-height: 20pt;
	color:#777777;
}

#connect {
	background: #ffffff;
	font-size: 10pt;
	font-style: bold;
	padding: 20px;
	margin-bottom: 0px;
	margin-top:95px;
	margin-left: 20px;
	color: #4aaaa5;
	float:right;
	width: 15%;
	position: absolute;
	right:18%;
	align-content: center;	
	border-style: solid;
    border-width: 1px;
    border-color:#cccccc;
    font-family: "Georgia", Times, 'Times New Roman', serif;
}

.connecttitle {

	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#cccccc; 
  	margin-bottom: 5px;
  	padding-bottom: 10px;
  	font-size: 12pt;
}

.github {
	width: 25%;
    height: auto;
    float:left;
    padding-right: 6px;
}

.linkedin {
    width: 25%;
    height: auto;
    float:left;
    padding-right: 6px;

}

.stack {
    width: 25%;
    height: auto;
    float:left;
    padding-right: 6px;
}

.contactinfo {
	color:#777777;

}

.name {
	width: 100%;
	height: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	color:#777777;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	text-indent: 3px;
}

.email {
	width: 100%;
	height: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	color:#777777;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	text-indent: 3px;
}

.message {
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
	margin-top: 10px;
	color:#777777;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	text-indent: 3px;
	vertical-align: top;
	float: left;
}

input[type=submit] {
    padding:5px 15px; 
    background:#4aaaa5;
    color:#ffffff; 
    display: block;
    font-size: 12pt;
    border:0 none;
    cursor:pointer;
}  

.portfolio { 
   position: relative; 
   width: 100%;
}

.portfolioitem {
	width: 45%;
    float:left;
    padding-bottom: 66px;
    position: relative;
    display: block;
   	background-size: cover;
   	margin:12px;
}


.hangman {
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/hangman.jpg");
}

.rpg {
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/RPG%20Game.jpg");
}

.trivia {
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/Trivia%20Game.jpg");
}


.rutgers {
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/Rutger%20info%20Widget.jpg");
}


.rock {
	background-image: url("https://raw.githubusercontent.com/kaylaludmila/Basic-Portfolio/master/assets/images/Rock%20Paper%20Sissors.jpg");
}


h3 { 
	background-color: #4aaaa5;
  	color: #ffffff; 
  	padding-top: 15px;
  	padding-bottom: 15px;
  	margin-top: 100px;
  	text-align: center;
}

footer {

	background: #666666;
	color: #ffffff;
	height: 12px;
	clear:both;
	font-size: 8pt;
	text-align: center;
	padding: 40px;
	border-top: thick solid #4aaaa5;
	border-width: 15px;
}

